<div class="bank">
    <div class="bank-unshow" (click)="addCard()">
        <div class="card-unshow" *ngFor="let card of cardsCopyNoShow"></div>
        <div class="empty" *ngIf="!cardsCopyNoShow.length"></div>
    </div>

    <div class="bank-show" *ngIf="cardsCopyShow.length">
        <app-card [card]="cardsCopyShow[cardsCopyShow.length - 1]"
            (click)="onCheck(cardsCopyShow[cardsCopyShow.length - 1])"></app-card>
    </div>
    <div class="" *ngIf="!cardsCopyShow.length" class="empty">
    </div>
</div>