.top,
.lists-card {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 100px;
    padding-inline-end: 100px;
}
.top {
    padding-top: 100px;
    height: 320px;
}
.btn {
    padding: 12px;
    border: none;
    border-radius: 12px;
    height: 43px;
    background-color: #fff;
    cursor: pointer;
}
