<!-- <card *ngFor="let card of cards" [card]="card"></card> -->
<!-- <app-card *ngFor="let card of cards" [card]="card"></app-card> -->
<div class="top">

    <app-bank (check)="checkCard($event)" (clearCheckedUpDoun)="clearCheckedUpDoun($event)" [cards]="cards"
        (clearChecked)="clearChecked()"></app-bank>

    <app-target [targetLists]="targetLists" (click)="setCard('target')"></app-target>
</div>
<div class="lists-card">
    <app-list *ngFor="let cards of lists;let i = index" [cards]="cards" (click)="setCard('list'+i)"
        (check)="checkCard($event)" (clearChecked)="clearChecked()"></app-list>
</div>